@{
    Layout = "_LayoutPlanejamento";
}

<div id="PTotal">
    <div class="containerC">
        <h1>
            Planejamento
        </h1>
        <div class="cards">
            <div class="card">
                <img alt="reunioes" height="200" src="~/img/im1.png" width="300" style="height: 120px; width: 120px; position: absolute; top: -50px; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 50%; padding: 10px;" />
                <h2>
                    Reiniões
                </h2>
                <textarea placeholder="Digite aqui" style="color: black; background-color: transparent; border-color: transparent; text-decoration: none; width: 250px; height: 300px;"></textarea>
            </div>
            <div class="card">
                <img alt="Anotacoes" height="100" src="~/img/im2.png" width="100" style="position: absolute; top: -50px; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 50%; padding: 10px;" />
                <h2>
                    Anotações
                </h2>
                <textarea placeholder="Digite aqui" style="color: black; background-color: transparent; border-color: transparent; text-decoration: none; width: 250px; height: 300px;"></textarea>

            </div>
            <div class="card">
                <img alt="Objetivos/Metas" height="100" src="~/img/im3.png" width="100" style="position: absolute; top: -50px; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 50%; padding: 10px;" />
                <h2>
                    Objetivos/Metas
                </h2>
                <textarea placeholder="Digite aqui" style="color: black; background-color: transparent; border-color: transparent; text-decoration: none; width: 250px; height: 300px;"></textarea>
            </div>
        </div>
    </div>
</div>